@use "../utils/_index" as *;

.header {
  position: sticky; //sticky
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  transition: $transition-duraction;
  &__content {
    width: 100%;
    @include flex(space-between, center);
    column-gap: 2rem;
    @include adaptive-property(padding-block, 24, 0, 58);
    transition: all $transition-duraction;
  }
  &__menu {
    column-gap: 10px;
    @include flex(space-between, center);
  }
  &__logo {
    z-index: 5;
    @include position-r;
  }
  &__buttons {
    display: flex;
    @include adaptive-property(column-gap, 15, 0, 30);
    button {
      z-index: 5;
    }
  }
  &__label,
  &__bag {
    svg path {
      transition: $transition-duraction;
    }
    svg {
      @include hover-pseudo(" path") {
        fill: #d67145;
      }
    }
  }
}
.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
  .header__content {
    padding: 10px 0;
    transition: all $transition-duraction;
  }
  .menu__link {
    text-shadow: 1px 2px 4px #f1e6e6;
  }
}
.header.hidden {
  opacity: 0;
  transform: translateY(-30px);
}
