@use "../utils/_index" as *;

.reviews {
  &__container {
    @include adaptive-property(margin-bottom, 60, 0, 132);
  }
  &__header {
    margin-bottom: 30px;
  }
}
.reviews.active {
  .slide-reviews__svg {
    rotate: 1turn;
  }
  .slide-reviews__text,
  .slide-reviews__name,
  .slide-reviews__role {
    opacity: 1;
    translate: 0 0;
  }
}
