@use "../utils/_index" as *;

.winter {
  &__header {
    @include adaptive-property(margin-bottom, 36, 0, 84);
  }
  &__container {
    @include adaptive-property(margin-bottom, 60, 0, 132);
  }
  &__columns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: space-evenly;
    @include adaptive-property(column-gap, 20, 0, 55);
    @include on-mobile-l {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  &__column-left {
    max-width: 586px;
    flex-grow: 1;
  }
  &__column-right {
    max-width: 588px; /* 588px/1200 */
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    line-height: 133.333333%; /* 24/18 */
    font-weight: 400;
    @include adaptive-property(font-size, 0.875, 0, 1.125, rem);
  }
  &__text-right {
    transition: $transition-duraction-long 350ms;
    scale: 0;
    @include adaptive-property(margin-bottom, 24, 0, 56);
  }
  &__text-left {
    transition: $transition-duraction-long 150ms;
    scale: 0;
    margin-bottom: 17px;
  }
  &__imgs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  &__img {
    border-radius: $radius-l;
    @include ibg;
  }
  &__img-y {
    grid-row: 1 / -1;
    grid-column: 3 / -1;
    justify-self: end;
    max-width: 319px;
    max-height: 405px;
    z-index: -1;
  }
  &__img-x {
    max-width: 428px;
    max-height: 286px;
    grid-row: 2 / -1;
    grid-column: 1 / 6;
    align-self: self-end;
  }
  &__button {
    margin-inline: auto;
    scale: 0;
    @include on-mobile-l {
      margin-inline: auto 0;
    }
  }
}
.winter.active {
  .winter__text-right,
  .winter__text-left,
  .winter__button {
    scale: 1;
  }
}
