$font-family: "Playfair Display", serif; // Шрифт за замовчуванням
$font-size: 1rem; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

$text-color-main: #2e2e2e;
$text-color-2: #ded9d6;
$bg-color-main: #f0eadc;
$bg-color-olive: #754f24;

$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

$radius-s: 16px;
$radius-l: 36px;

$transition-duraction-long: 0.65s;
$transition-duraction: 0.3s;

$min-width: 320;
$max-width: 1440;
$max-width-container: 1244;
$container-padding: 36;
$container-width: $max-width-container + $container-padding;

$pc: $container-width; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile-l: 767.98; // Телефони L
$mobile-s: 479.98; // Телефони S
