@use "../utils/index" as *;

.link-underline-show-left-right {
  span {
    position: relative;
    color: inherit;

    @include hover-pseudo('::before') {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }

  span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: currentColor;
    border-radius: 5px;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform $transition-duraction ease;
  }
}
